<ion-view view-title="Explore" hide-nav-bar="true">
    <ion-content class="background">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="bar bar-header item-input-inset bar-stable">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear">
          GO
        </button>
      </div>
      <div class="list card" ng-repeat="post in content.posts">
        <div class="item">
          <div class="row">
            <div class="col-25">
              <img class="itemavatar" ng-src="https://s3.amazonaws.com/quo-mobile/{{post._creator.profile.picture}}">
            </div>
            <div class="col-75">
              <h2>{{post._creator.profile.name}}</h2>
              <p> {{post._creator.profile.about}}</p>
              <div>
                <button class="follow">
                  <i class="ion-android-person"></i>{{post._creator.followers.length}}
                </button>
                <button id="{{'button'+$index}}"
                  ng-click="follow($index)" ng-class="{follow: followButtons[$index]=='Follow', unfollow: followButtons[$index]=='Unfollow'}">{{followButtons[$index]}}
                </button>
              </div>
             </div>
          </div>
        </div>
        <div class="item item-image">
          <img ng-click="openModal($index)" ng-src="https://s3.amazonaws.com/quo-mobile/{{post.quote_pic}}">
        </div>
         <div class="item item-divider">
           <button class="tag">{{post.author}}</button>
           <button class="tag">{{post.title}}</button>
          <span class="pull time" am-time-ago="post.createdAt"></span>
        </div>
      </div>


  </ion-content>



</ion-view>