<ion-view view-title="Home" hide-nav-bar="true">
   <ion-content class="background">
     <div class="homeProfile">
        <div class="item item-avatar">
          <img ng-src="https://s3.amazonaws.com/quo-mobile/{{infoParams.pic}}">
          <h2>{{infoParams.name}}</h2>
          <p> Posts: {{infoParams.postsNum}}</p>
          <p> Followers: {{infoParams.followers}} </p>
          <p> Subscriptions: {{infoParams.subs}}</p>
        </div>
     </div>

     <div class="list card" ng-repeat= "post in content.posts">
        <div class="item item-body">
          <img class="full-image" ng-src="https://s3.amazonaws.com/quo-mobile/{{post.quote_pic}}">
          <p>
            {{post.captions}}
          </p>
          <p><button class=" tag">{{post.author}}</button><button class=" tag">{{post.title}}</button></p>
          <p>
            <span><i class="ion-bookmark bigger"> {{post.bookmarked.length}}</i></span>
            <span ng-click='deletePost($index)'><i class="ion-trash-a bigger pull"></i></span>
          </p>

        </div>

   </div>

  </ion-content>
</ion-view>

