<ion-view view-title="Home" hide-nav-bar="true">
   <ion-content class="background">
     <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="homeProfile padding">
       <div class="row">
          <div class="col-25">
            <img class="itemavatar" ng-src="https://s3.amazonaws.com/quo-mobile/{{infoParams.pic}}">
          </div>
          <div class="col">
            <h4 class="homeName">{{infoParams.name}}</h4>
            <div>
              <span><i class="ion-document"></i> {{infoParams.postsNum}}</span>
              <span><i class="ion-android-people"></i> {{infoParams.followers}}</span>
              <span><i class="ion-android-favorite"></i> {{infoParams.subs}}</span>
            </div>
          </div>
       </div>
    </div>

     <div class="list card" ng-repeat= "post in content.posts">
        <div class="item item-body">
          <img class="full-image" ng-src="https://s3.amazonaws.com/quo-mobile/{{post.quote_pic}}">
          <p class="captions">
            {{post.captions}}
          </p>
          <p>
            <button class="tag">{{post.author}}</button>
            <button class="tag">{{post.title}}</button>
         </p>
          <p>
            <span><i class="ion-bookmark bigger"> {{post.bookmarked.length}}</i></span>
            <span ng-click='showConfirm($index)'><i class="ion-trash-a bigger pull"></i></span>
            <span class="pull" am-time-ago="post.createdAt"></span>
          </p>

        </div>

   </div>

  </ion-content>
</ion-view>

