<ion-view view-title="Member" hide-nav-bar="true" >
  <ion-content>
    <ion-tabs class="tabs-stable tabs-icon-top">
      <ion-tab title="Explore" icon-on="ion-planet" icon-off="ion-planet"  ui-sref="app.member.explore">
       <ion-nav-view></ion-nav-view>
      </ion-tab>
      <ion-tab title="Home" icon-on="ion-home" icon-off="ion-home"  ui-sref="app.member.home">
        <ion-nav-view></ion-nav-view>
      </ion-tab>
      <ion-tab title="Editor" icon-on="ion-quote" icon-off="ion-quote"  ui-sref="app.editor.text">
        <ion-nav-view></ion-nav-view>
      </ion-tab>
      <ion-tab title="Subs" icon-on="ion-bookmark" icon-off="ion-bookmark"  ui-sref="app.member.subs">
        <ion-nav-view></ion-nav-view>
      </ion-tab>
      <ion-tab title="Profile" icon-on="ion-person" icon-off="ion-person" ui-sref="app.member.profile">
        <ion-nav-view></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>



