<ion-view view-title="Login">
  <ion-content>
  <div class="loginPage">
   <div class="row">
        <div class="col"></div>
        <div class="col col-75 "><h1>LOG IN QUO</h1></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col col-75 ">
          <div class="list list-inset border-line login-form">
              <label class="item item-input">
                <input type="text" placeholder="email">
              </label>
              <label class="item item-input">
                <input type="text" placeholder="password">
              </label>
          </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col col-75 padding ">
            <h1>OR</h1>
            <button id="fbLogin" class="button button-block authbuttons">FACEBOOK LOGIN</button>
            <button id="twitterLogin" class="button button-block authbuttons">TWITTER LOGIN</button>
        </div>
        <div class="col"></div>
    </div>
  </div>

  </ion-content>
</ion-view>