<ion-view view-title="Sign Up" >
  <ion-content>
  <div class="loginPage">
   <div class="row">
        <div class="col"></div>
        <div class="col col-75 "><h1>SIGN UP QUO</h1></div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col col-75 ">
          <div class="list list-inset border-line login-form" >
              <label class="item item-input auth">
                <input type="text" placeholder="email" ng-model="user.email">
              </label>
              <label class="item item-input auth">
                <input type="password" placeholder="password" ng-model="user.password">
              </label>
               <button class="button button-block authbuttons" ng-click="signup()">SIGN UP</button>
          </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col col-75 padding ">
            <h1>OR</h1>
            <button id="fbLogin" class="button button-block authbuttons"><i class="ion-social-facebook"></i> FACEBOOK SIGN UP</button>
            <button id="twitterLogin" class="button button-block authbuttons"><i class="ion-social-twitter"></i> TWITTER SIGN UP </button>
        </div>
        <div class="col"></div>
    </div>
  </div>

  </ion-content>
</ion-view>