<ion-view view-title="Landing" hide-nav-bar=true>
  <ion-content>
    <div class="index">
      <div class="row">
        <div class="col"></div>
        <div class="col col-50"><img class="logo" src="./img/logo.svg"></div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col col-50"><button ui-sref="app.auth.login" id="login" class="button button-block authbuttons">Log In</button></div>
        <div class="col"></div>
      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col col-50"><button ui-sref="app.auth.get-started" id="getstarted" class="button button-block authbuttons">Get Started</button></div>
        <div class="col"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
