<ion-view view-title="Editor" >
  <ion-content scroll=false>
    <div class="editor-navbar">
      <a class="button icon-left ion-chevron-left button-clear button-dark" ui-sref="app.member.explore">Back</a>
      <a class="save button icon-right ion-chevron-right button-clear button-dark" ng-click="saveImage()">Save Image</a>
    </div>

    <div id="canvas" ng-style="canvasStyle"></div>

    <ion-tabs class="tabs-stable tabs-icon-only" scroll='false'>

      <ion-tab title="Explore" icon-on="ion-compose" icon-off="ion-compose"  ui-sref="app.editor.text">
        <ion-nav-view name="text"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Home" icon-on="ion-paintbucket" icon-off="ion-paintbucket"  ui-sref="app.editor.color">
        <ion-nav-view name="color"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Editor" icon-on="ion-cube" icon-off="ion-cube"  ui-sref="app.editor.shapes">
        <ion-nav-view name="shapes"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Subs" icon-on="ion-image" icon-off="ion-image"  ui-sref="app.editor.photos">
        <ion-nav-view name="photos"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-content>
</ion-view>