/* Empty. Add your own CSS if you like */
.logo{
  width:100%;
}

.index{
  margin-top: 40%;
}

.border-line{
  border-top: 10px solid black;
  border-bottom: 5px solid black;
  text-align: center;
  padding: 2px;
}

h1{
  font-family: "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 6px;
  text-align: center;
  font-size: 20px;

}

.margin-top{
   margin-top: 40%;
}

.auth{
  margin: 10px;
  border: 3px solid black;
}

.login-form{
  margin-bottom: 10px;
  padding-bottom: 20px;
  margin-top:0px;

}

.loginPage{
  margin-top: 10%;
}

.padding{
  padding:15px;
}

.authbuttons{
  background-color: #A5D3D9;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated{
  border-color: #A5D3D9;

}

#container{
  border: 1px solid whitesmoke;

  width: 100%;
}

#container:before{
  display: block;
  padding-top: 75%;
}

.save{
   float: right;
}

.fontselect{
  border: 2px solid #A5D3D9;
  font-size: 12px;
  padding: 0px 5px 0px 5px;
}

.textinput{
  border: none;
/*  border-bottom: 1px solid black;
  position: relative;
  height: 100px;
  margin-top: 5px;
  font-size: 12px;*/
  margin: 0px;

}



textarea{
  margin:3px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;

}

.labelfont,.item-select select{
  font-size: 12px;
}

.ion-plus-circled{
  font-size: 40px;
}

.color{
  font-size:40px;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.ion-social-facebook{
  font-size: 18px;
}


label{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.border{
  border-bottom:3px solid #A5D3D9;
  padding:3px;
  margin-left: 5px;
}

.shapes{
  margin-top: 10px;
  width:80%;
}

.selectimage{
  font-family: "Helvetica Neue";
  font-size: 30px;
  text-align: center;
  border: 1px dashed #A5D3D9 ;
  height:150px;
  margin:10px;
  line-height: 45px;
  color: #A5D3D9;

}

.filtercolor{
  font-size:  30px;
}

.filtercolor:first-child{
  font-size: 30px;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
}

.remove{
  background-color: #ef4c4d;
  color: white;

}

.createpost{
  border:none;
  border-bottom: 1px solid grey;
}

.create{
  background-color: #A5D3D9;
  color: white;

}

.close{
  color:black;
  text-align: right;
  padding-right:15px;
  font-size: 20px;

}

.background{
  background-color: #fafafa;
}

.tag{
  border: none;
  box-shadow: none;
  background-color:  #A5D3D9;
  color:black;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin-right: 10px;
  font-size:14px;
  border-radius: 5px;
}

.bigger{
  font-size: 20px;
  color: black;
}

.pull{
  float: right;
  margin-left: 10px;
}

tab{
  padding-bottom: 3px;
}

.closeModal{
  font-size: 25px;
}

.profilepic{
  width:100%;
  border-radius: 150px;

}

.profilebar{
  height:150px;
}

.quotepic{
  width:100%;
}

.photo{
  width:100%;
}

.avatar{
  border: 1px solid whitesmoke;
}

.captions{
  border-left: 2px solid  #A5D3D9;
  padding: 10px;
}
